html {
    height: 100%;
}

body {
    height: 100%;
    background-color: purple;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color: gold;
}
.navbar{
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.gallery{
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100px;
}